<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">{{ 'anms.displays.title' | translate }}</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title><code>{{versions.angular}}</code>Tabular</mat-card-title>
        <mat-card-subtitle>
          {{ 'anms.displays.angular' | translate }}
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
            <mat-icon fontSet="fas" fontIcon="fa-book"></mat-icon>
            {{ 'anms.displays.documentation' | translate }}
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title><code>{{versions.material}}</code>D3js Graph</mat-card-title>
        <mat-card-subtitle>
          {{ 'anms.displays.angular-material' | translate }}
        </mat-card-subtitle>
        <mat-card-actions>

          <a mat-button href="https://material.angular.io/" target="_blank">
            <mat-icon fontSet="fas" fontIcon="fa-book"></mat-icon>
            {{ 'anms.displays.documentation' | translate }}
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title><code>{{versions.angularCli}}</code>Tree Table</mat-card-title>
        <mat-card-subtitle>
          {{ 'anms.displays.angular-cli' | translate }}
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="https://cli.angular.io/" target="_blank">
            <mat-icon fontSet="fas" fontIcon="fa-book"></mat-icon>
            {{ 'anms.displays.documentation' | translate }}
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
