<div class="background">
  <div class="gradientx">
    <div class="container">
      <h1>{{ 'anms.title' | translate }}</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements"
           mat-raised-button class="actions-main" color="primary" routerLink="../features">
          {{ 'anms.menu.features' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
           [ngClass]="routeAnimationsElements">
          {{ 'anms.menu.examples' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
           [ngClass]="routeAnimationsElements">
          {{ 'anms.about.change-theme' | translate }}
        </a>

        <br>
        <span [ngClass]="routeAnimationsElements">{{ 'anms.about.check-other-sources' | translate }}</span>
        <br>

        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Vistagrok
        </a>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="https://medium.com/@tomastrajan/6-best-practices-pro-tips-for-angular-cli-better-developer-experience-7b328bc9db81">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Source Browser
        </a>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="https://medium.com/@tomastrajan/object-assign-vs-object-spread-in-angular-ngrx-reducers-3d62ecb4a4b0">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          Vbu Stash
        </a>
        <a mat-raised-button
           [ngClass]="routeAnimationsElements"
           target="_blank"
           href="https://medium.com/@tomastrajan/how-to-style-angular-application-loading-with-angular-cli-like-a-boss-cdd4f5358554">
          <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
          SVN Repo
        </a>
      </div>
      <div class="actions">
        <div [ngClass]="routeAnimationsElements">
         <i> <h2>{{ 'anms.about.welcome-message' | translate }}</h2></i>
        </div>
      </div>
    </div>
  </div>
</div>
