<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding">
      <img [src]="logo"/>
      <span>{{ 'anms.title.short' | translate}}</span>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
         [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label | translate}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="toolbar">
    <mat-toolbar color="primary">
      <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
        <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
      </button>

      <span routerLink="" class="branding spacer center d-inline d-sm-none">
          <img [src]="logo"/></span>
      <span routerLink=""
            class="branding spacer center d-none d-sm-inline d-md-none"><img
        [src]="logo"/> {{ 'anms.title.short' | translate }}</span>
      <span routerLink="" class="branding spacer d-none d-md-inline"><img
        [src]="logo"/> {{ 'anms.title' | translate }}</span>

      <span class="d-none d-md-inline">
          <button mat-button class="nav-button" *ngFor="let item of navigation"
                  [routerLink]="[item.link]" routerLinkActive="active">
            {{item.label | translate}}
          </button>
        </span>

      <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
        <mat-icon fontSet="fas" fontIcon="fa-cog"></mat-icon>
      </button>



      <span>
        <mat-select [ngModel]="settings?.language"
                    (selectionChange)="onLanguageSelect($event)">
          <mat-option *ngFor="let l of languages" [value]="l">
            {{ l.toUpperCase() }}
          </mat-option>
        </mat-select>
      </span>
    </mat-toolbar>
  </div>

  <div class="wrapper">

    <div class="content"
         [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-12 signature">
          &#169; <span class="year">{{year}}</span> - Vistaprint
          <br class="d-block d-sm-none">
          <a [matTooltip]="'anms.footer.tag' | translate"
             matTooltipPosition="before"
             href="#">
            <mat-icon fontSet="fas" fontIcon="fa-rocket"></mat-icon>
            {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
          </a>
        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>
