$anms-nature-primary: mat-palette($mat-blue-gray, 700, 300, 900);
$anms-nature-accent: mat-palette($mat-amber, 300);
$anms-nature-warn: mat-palette($mat-red, 600);

$anms-nature-theme: mat-light-theme(
  $anms-nature-primary,
  $anms-nature-accent,
  $anms-nature-warn
);
